
  
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    
     html 
     {
        font-size: 14px;
     }



}




@media only screen and (max-width: 767px) {
   /* For example: */
   body {
       font-size: 12px; /* Adjust font size for better readability on smaller screens */
   }
   .w-100,.introPicture,.introTextContent
   {
    width: 100% !important;
   }

}


