@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

.latofont {
    font-family: "Lato", sans-serif;
}

.balooFont {
    font-family: "Baloo Bhai 2", sans-serif;
}

.darkGreen {
    color: #404a49 !important;
}

.lightGreenBg {
    background-color: #509995
}

.lightGreenFont {
    color: #509995;
}

.veryLightGreen {
    background-color: #f2f9f4;
}

.body {
    width: 100vw;
    height: 100vh;
}

.w-md-30{
    width: 30% !important;
}

.pt-4mid
{
    padding-top: 2rem;
}

.YogaClassLogo {
    filter: brightness(94%);
}

.me-6 {
    margin-right: 4rem;
}

.design {
    width: 98%;
    height: auto;
    bottom: -36%;
    left: 1%;
    z-index: 1%
}

.montfont {
    font-family: "Montserrat", sans-serif;

}

.YogaIntroPic {
    border-radius: 50%;
    border: 4px solid #b6d3cf;
}

.fw-boldest {
    font-weight: 900;
}

.display-1 {
    font-size: 5.5rem !important;
}

.lh-1mid {
    line-height: 1.5rem;
}


.logo {
    width: 6rem;
    padding-bottom: 1.2rem;
    padding-top: 1.7rem;
}

.navbar-nav a {
    font-size: 1.2rem;
    font-weight: 800 !important;
}

.introSubtextContainer {
    word-break: break-all;
}

.mt-mid5 {
    margin-top: 3.5rem;
}

.ls {
    letter-spacing: 3px;
}

.joinNowbtn {
    border-radius: 10px;
    padding: 0 1.5rem !important
}

.joinNowbtn:hover {
    background-color: #f2f9f4 !important;
    color: #509995 !important;
    border: 2px solid black !important;
    font-weight: 900 !important;
}

a:hover {
    background-color: #c0dad6;
}

.YogaIntroPage {
    padding-bottom: 20%;
    background-image: url(../images/introBottom.png);
    background-repeat: no-repeat;
    background-position: right -50% bottom -22rem;
    background-size: 50% 72%;
}

.ChooseClassSubtext 
{
    padding: 0 17%;
    line-height: 2rem;
}

.bgDesignClass {
    top: -13%;
    left: 0%;
    z-index: 1;
}

.w-md-31 {
    width: 31% !important;
}

.classImage>.class {
    border-radius: 50%;
}
.email:focus
{
    border: none;
    outline: none;
    box-shadow: none;
}

.chooseClassSection {
    background-image: url(../images/introBottom.png);
    background-repeat: no-repeat;
    background-position: right -50% top -17rem;
    background-size: 50% 72%;

}
.newExperienceContainer,.pricingContainer
{
    background-image: url(../images/shape_11.png);
    background-repeat: no-repeat;
    background-position: right 0% top 66%;
    background-size: 35% 118%;
}

.pricingContainer
{
    background-position: right 0% top 622%;

}

.statsCardContent {
    padding: 22% 0%;
    width: 18rem;
}

.statsCard {
    border: 5px solid #509995 !important;
}

.fs-3mid {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.statsSection {
    padding-bottom: 10% !important;
    background-image: url(../images/statsDesign.png), url(../images/shape_17.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -35% left -5%, top;
    background-size: 45% 76%, 100% 100%
}

.instructorContent,.newExperienceContent {
    padding: 17% 6%;
    word-break: break-all;
}


.readMoreInstructor {
    padding: .8rem 5rem !important;
}

.newExperiencePic ,.pricingContainer
{
    padding: 7% 6% 5% 6%;
}

.newExperienceSubtext,.instructorSubtext {
    line-height: 2rem;
}

.starLogoPic
{
    filter: brightness(97%);
}

.backgroundDesignDevandra
{
    top: -12%;
    left: 35%;
}

.aboutTrainerDevandera
{
    padding: 6% 7% 10% 7%;
}

.aboutTrainerDevandera
{
    background-image: url(../images/devandrabg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.updateContainer
{
    padding: 5% 20% 11% 20%;
}

input:focus
{
    border: none !important;
}
.subscribe button{
    background-color: rgb(222 238 232);
}

.updateHeading > p,.footerCardTextOne
{
    word-break: break-all;
}

.titleHere
{
    width: 40%;
}
.footerContent
{
    padding-top: 5rem;
}
.footerCard li
{
    cursor: pointer;
}


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */


/* Animation Effects  */


/* Pricing Card moving effect */

.pricingCard {
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
 }
 .pricingCard:hover {
     -ms-transform: rotate(15deg); 
     -webkit-transform: rotate(15deg);
     transform: rotate(15deg);
 }


 /* Zooming effect on the Image New Experience */

 .newExperiencePic img {
    transition: 1s ease;
    }
    
    .newExperiencePic img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }

    
    /* Brightning Effects on the Cards */
  
      .statsCard {
        position: relative; 
        transition: .5s;
      }
      
      .statsCard::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #131311;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
      }
      
      .statsCard:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 0 15px  #7e771e;
      }
      
      .statsCard:hover {
        color: #7e771e;
        box-shadow: 0 0 15px  #7e771e;
        text-shadow: 0 0 15px  #7e771e;
      }


      /* Dropping Effects for Heading */

      .yogaClass span {
        animation: drop 0.4s linear forwards;
        opacity: 0;

      }
      
      .yogaClass span:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .yogaClass span:nth-child(3) {
        animation-delay: 0.4s;
      }
      
      .yogaClass span:nth-child(4) {
        animation-delay: 0.6s;
      }
      
      .yogaClass span:nth-child(5) {
        animation-delay: 0.8s;
      }
      
      .yogaClass span:nth-child(6) {
        animation-delay: 1s;
      }
      
      .yogaClass span:nth-child(7) {
        animation-delay: 1.2s;
      }
      
      .yogaClass span:nth-child(8) {
        animation-delay: 1.4s;
      }
      
      .yogaClass span:nth-child(9) {
        animation-delay: 1.6s;
      }
      
      .yogaClass span:nth-child(10) {
        animation-delay: 1.8s;
      }
      
      @keyframes  drop {
        0% {
          transform: translateY(-200px) scaleY(0.9);
        }
        5% {
          opacity: 0.7;
        }
        50% {
          transform: translateY(0px) scaleY(1);
          opacity: 1;
        }
        65% {
          transform: translateY(-17px) scaleY(0.9);
        }
        75% {
          transform: translateY(-22px) scaleY(0.9);
        }
        100% {
          transform: translateY(0px) scaleY(1);
          opacity: 1;
        }
      }


/* Overlay Effect on the Class Section */


.box3 {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
}

.box3 .box-content,
.box3:after,
.box3:before {
    position: absolute;
    left: 7%;
    right: 7%;
    transition: all .3s
}

.box3:after,
.box3:before {
    display: block;
    background: rgba(0, 0, 0, .3);
    top: 10%;
    bottom: 10%;
    z-index: 1;
    transform: scale(0, 1)
}

.box3:after {
    top: 10.8%;
    bottom: 10.8%;
    transform: scale(1, 0)
}

.box3:hover:after,
.box3:hover:before {
    transform: scale(1);
    animation: animate 1.5s
}

.box3:hover:before {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff
}

.box:hover:after {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff
}

.box img {
    width: 100%;
    height: auto;
    transition: all .3s
}

.box3:hover img {
    transform: scale(1.2);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px)
}

.box3 .box-content {
    padding: 30px 10px;
    top: 10%;
    bottom: 10%;
    opacity: 0;
    z-index: 2
}

.box3:hover .box-content {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, .3);
    opacity: 1;
    transition: all .3s
}

@keyframes animate {

    0%,
    100% {
        opacity: 1
    }
}

@keyframes animate-hover {
    0% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, .3)
    }

    50% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, .3)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .3)
    }
}

/* Instructore Heading Lights Effect */

.instructorHeading {
    animation: lights 5s 750ms linear infinite;
}


@keyframes lights {
    0% {
        color: hsl(231, 85%, 48%);
        text-shadow:0 0 1.5em hsla(320, 100%, 50%, 0.2),0 0 0.5em hsla(320, 100%, 60%, 0.3),-1em -0.125em 0.5em hsla(40, 100%, 60%, 0),1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 87%, 49%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(129, 97%, 53%);
        text-shadow:0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(33, 98%, 45%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),0 0 0.125em hsla(320, 100%, 60%, 0.5),0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(326, 90%, 47%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),0 0 0.125em hsla(320, 100%, 60%, 0.3),1em -0.125em 0.5em hsla(40, 100%, 60%, 0),-1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}

/* Rotation Effects */
.rotate-animation {
    animation: rotateDesign 20s infinite linear; /* Specify linear timing function for smoother rotation */
}

@keyframes rotateDesign {
    from {
        transform: rotate(0deg); /* Initial rotation */
    }

    to {
        transform: rotate(360deg); /* Final rotation */
    }
}


/* OverLay effects */


.box7 {
    position: relative;
    overflow: hidden;
}

.box7 .class {
    position: relative;
    z-index: 2;
}

.box7:after,
.box7:before {
    content: "";
    width: 80%;
    height: 100%;
    background: rgba(11, 33, 47, 0.9);
    position: absolute;
    top: 0;
    left: 10%;
    opacity: 0;
    border-radius: 50%;
    z-index: 3;
}

.box7:hover:before {
    opacity: 1;
}

.box7 .box-content {
    width: 80%;
    position: absolute;
    bottom: -100%;
    left: 10%;
    transition: all 0.5s ease 0s;
    z-index: 4;
    border-radius: 50%;
}

.box7:hover .box-content {
    bottom: 30%;
}

.box7 .bookNowOverlay {
    display: relative;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0 15%;
    z-index: 5;
}

.bookNowOverlay:hover {
    color: rgb(248, 245, 245);
    background-color: #509995;
    border: none
}

/* Button Linear Gradient Effects */

.readMoreInstructor,.subscribe button {
    transition: all 0.3s;
}

.readMoreInstructor:hover,.subscribe button:hover{
    background-image: linear-gradient(to right, #0e2826, #1e6b07);  
    color:white;
    border-radius: 50px !important;
}

.registerNow {
    transition: all 0.3s;
}

.registerNow:hover {
    background-image: linear-gradient(to right,  #1e6b07,#0e2826);  
    color:white;
    border-radius: 50px !important;

}
